<nav><a routerLink="/home">Go Back to Homepage</a></nav>
  <br>

  <p style="text-align: center;">damage-calculator will be implemented soon!</p>
<!-- 
<div class="input-container">
    <input #searchText.value="ngModel" placeholder="Search character..."  [(ngModel)]="searchText" (input)="filterItem(searchText)">
</div>

<div class="container">
    <div class="group">
        <a *ngFor="let character of filteredCharacters | slice:0:5" class="character-unit" (onclick)="addToSelectedPlace(character.ID_CHARACTER)">
          <div class="character-block">
            <h4>{{character.name}}</h4>
            <p>Character ID: {{character.ID_CHARACTER}}</p>
          </div>
        </a>
    </div>
  </div>

  <br><br><br><br><br>


<div class="container">
    <div class="group">
        <a *ngFor="let character of selectedList" class="character-unit" (onclick)="removeFromSelectedPlace(character.ID_CHARACTER)">
          <div class="character-block">
            <h4>{{character.name}}</h4>
            <p>Character ID: {{character.ID_CHARACTER}}</p>
          </div>
        </a>
    </div>
  </div> -->
